.App {
    font-family: sans-serif;
  }


  .main {
    box-shadow: 0px 1px 1px 1px rgba(2, 2, 3, 0.1);
    background-image: linear-gradient(to left, #004766f2, #42a3cdf4, #9dd8f1ed, #dceff7f9);
    padding:10px 4.2rem;    
    width:100%;
    transition:all 0.3s ease-in-out;
    z-index:999;
    transition:0.5s;

  }
  .stickynav{
    position:fixed;
    top:0;
    left:0;
    background-color: #004866;
  }
  .header {

    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgb(244, 241, 241);
}
  .Ulist{
    display:flex;
    align-items: center;
    list-style-type:none;
    transition:0.5s;
    gap:2rem;

  }
 .Ulist li{
    cursor:pointer;
    margin-right:14px;
    text-decoration:none;
    transition:0.5s;
 }
 .Ulist a{
  text-decoration:none;
  color:black;
  
 }
  .subblist{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    list-style-type:none;
  }
  .stickysize{
    display:none;
    background-color:#031f2bf2;
    height:20px;
   
  }
  .subblist li{
  
    white-space:nowrap;
    flex-wrap: wrap;
    cursor:pointer;
    /* padding:5px 0px; */
    margin-right:2rem;
    font-size:14px;
    
  }

  .subblist li:hover{
    color:#fd7e14 ;
    font-weight: 700;

}
.subblist a{
  text-decoration: none;
  color:white;
}.header img{
    width:10rem;
    height:auto;
    margin-right: 10px;
  }
.login{
    padding:7px 30px;
    border-color:#fd7e14 ;
    border-radius:8px;
    font-size: 15px;
    background:none;
    color:white;
    font-family: Poppins;
    transition:0.2s ease all;
}
.hamburger{
  display:none
}
.Ulis{
  display:none;
}


