.error{
    border:1px solid red;
}
.no-error{
    border:1px solid green;
    
}
.resetSubmit{
    color: #fff;
    background: #2bb82b;
    padding: 10px 15px;
    font-size: 18px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    transition: all 0.25s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: none;
    font-weight: bold;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.cancelsubmit{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.cancelsubmit a{
    padding: 10px 15px;
    font-size: 18px;
    color: #007acc;
    background: transparent;
    font-weight: normal;
    margin-right: 10px;
}
/* input[required]:before {
    content: "*";
    color: red;
  }
  
  input:invalid {
    border: 2px solid red;
  }
  
  input:invalid + span {
    display: inline-block;
    margin-left: 10px;
    color: red;
  } */